body {
    margin: 0;
    min-height: 100vh; 
    background-image: linear-gradient(45deg, #6b009c, #020292);
    background-attachment: fixed;
    background-size: cover;

}

.maintext {
    position: relative;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    z-index: 1;
    text-shadow: 0px 0px 5px #000000;
}

.maintext2 {
    position: relative;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.footerinfo {
    position: relative;
    padding: 25px;
}

.bar {
  position: relative;
  width: 97%;
  height: 1px;
  background-color: #ffffff;
  margin: 10px auto;
  border-radius: 2px;
}


.logo {
    position: relative;
    display: block;
    width: 30%;
    max-width: 400px;
    min-width: 320px;
    height: auto;
    margin: 0 auto;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(0px 0px 5px #000000);
}


.homebuttons {
    position: relative;
    background-color:white;
    width: 280px;
    padding: 10px 2px;
    box-sizing: border-box;
    border-style: none;
    font-size: 150%;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.smallhomebuttons {
    position: relative;
    background-color:white;
    width: 137px;
    height: 53px;
    box-sizing: border-box;
    border-style: none;
    font-size: 130%;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
}

.myworkscontainer {
    position: relative;
    background-color: rgb(25, 0, 95); 
    border-width: 0px;
    border-style: solid;
    padding: 10px;
    width: 85%;
    max-width: 3000px;
    border-radius: 6px;
    -webkit-filter: drop-shadow(5px 5px 5px #ffffff);
    filter: drop-shadow(0px 0px 5px #fdfdfd);
}

.myworkscontainer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    gap: 20px;
    padding: 20px;
    scrollbar-width: thin;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active { 
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.headerdiv {
    background-image: url("banner.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.wipe-animation {
    -webkit-mask-image: linear-gradient(to right, black 45%, transparent 55%);

    mask-image: linear-gradient(to right, black 46%, transparent 55%);

    -webkit-mask-size: 200% 100%;
    mask-size: 300% 100%;

    -webkit-mask-position: 100% 0;
    mask-position: 85% 0;

    animation: wipeReveal 1s ease-in-out forwards;
}

@keyframes wipeReveal {
  100% {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0;
  }
}

.worksimage {
    height: 200px;
    width: auto;
    flex-shrink: 0;
    object-fit: contain;
    border-radius: 5px;
    scroll-behavior: smooth;
}

  .fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.7s ease-out forwards;
    animation-delay: 0.4s;
  }

  .fade-and-grow {
  animation: fadeInGrow 0.6s ease-in-out forwards;
}

@keyframes fadeInGrow {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /*
Source - https://stackoverflow.com/a/39669911
Posted by DigitalDesignDj
Retrieved 2026-07-07, License - CC BY-SA 3.0
*/

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

.button {
  font-family: "Open Sans";
  font-weight: 600;
  padding: 10px 30px;
  font-size: 22px;
  cursor: pointer;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.button-small {
  font-family: "Open Sans";
  font-weight: 600;
  padding: 7px 20px;
  font-size: 22px;
  cursor: pointer;
  background-color: rgb(0, 255, 55);
  border-style: none;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.video {

}

.animatedstuffcontainer {
  padding-left: 16px;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
  
@media (max-width: 768px) {
    .worksimage {
        height: 140px;
        gap: 12px;
    }
    
    .myworkscontainer2 {
        gap: 12px;
        padding: 10px;
    }
}

@media (max-width: 450px) {
    .video {
      width: 70%;
      height: auto;
    }
}
